<!---portfolio--->
<section class="portfolio" id="portfolio">
  <div class="main-text">
    <h2>My Portfolio</h2>
    <h4>Some Of My Distinguished Works</h4>
  </div>

  <div class="portfolio-content">
    <div (click)="openDialog(x12.src,title12.innerText)" class="row">
      <img src="https://www8.0zz0.com/2023/01/17/11/450475754.jpg" #x12>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title12>Register with Authentication and Authorization.</h3>
    </div>

    <div (click)="openDialog(x6.src,title6.innerText)" class="row">
      <img src="https://www10.0zz0.com/2022/11/06/19/723354779.jpg" #x6>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title6>Food Website.</h3>
    </div>

    <div (click)="openDialog(x8.src,title8.innerText)" class="row">
      <img src="https://www2.0zz0.com/2022/11/06/19/495756630.jpg" #x8>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title8>Smart Coash Website with Computer Vision and Neural Networks.</h3>
    </div>

    <div  (click)="openDialog(x13.src,title13.innerText)" class="row">
      <img src="https://www12.0zz0.com/2023/01/31/07/143605936.jpg" #x13>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title13>Quiz Application with Dashboard.</h3>
    </div>

    <div (click)="openDialog(x2.src,title2.innerText)" class="row">
      <img src="https://www7.0zz0.com/2022/11/26/08/582799247.jpg" #x2>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title2>Employee Dashboard.</h3>
    </div>

    <!-- <div (click)="openDialog(x1.src,title1.innerText)" class="row">
      <img src="https://www13.0zz0.com/2022/11/06/19/288967983.jpg" #x1>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title1>Pointing System For Syriatel Mobile Telecom .</h3>
    </div> -->

    <div (click)="openDialog(x11.src,title11.innerText)" class="row">
      <img src="https://www5.0zz0.com/2023/01/12/12/587372162.jpg" #x11>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title11>CRUD Using Angular14 and ASP.Net Core and SQL Server .</h3>
    </div>


    <div (click)="openDialog(x3.src,title3.innerText)" class="row">
      <img src="https://www4.0zz0.com/2022/11/06/19/883730795.jpg" #x3>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title3>Coffee Shop Website .</h3>
    </div>

    <div (click)="openDialog(x4.src,title4.innerText)" class="row">
      <img src="https://www2.0zz0.com/2022/11/06/19/709203841.jpg" #x4>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title4>Courses Website .</h3>
    </div>

    <div (click)="openDialog(x5.src,title5.innerText)" class="row">
      <img src="https://www11.0zz0.com/2022/11/06/19/917079007.jpg" #x5>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title5>Register Page .</h3>
    </div>

    <div  (click)="openDialog(x7.src,title7.innerText)" class="row">
      <img src="https://www3.0zz0.com/2022/11/06/19/453122786.jpg" #x7>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title7>GYM Website .</h3>
    </div>

    <div (click)="openDialog(x9.src,title9.innerText)" class="row">
      <img src="https://www2.0zz0.com/2022/11/06/19/354240993.jpg" #x9>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title9>Food Website .</h3>
    </div>

    <div (click)="openDialog(x10.src,title10.innerText)" class="row">
      <img src="https://www2.0zz0.com/2022/11/06/19/359428289.jpg" #x10>
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
        <div class="row-icon">
          <i class='bx bx-heart'></i>
        </div>
      </div>
      <h3 #title10>To-do list App .</h3>
    </div>
  </div>
</section>
