<!---contact--->
<section class="contact" id="contact">
  <div class="contact-text">
    <h2>Contact Me</h2>
    <h4>Let's Work Together</h4>
    <p>You can contact me through my private numbers or through one of the following accounts .</p>
    <div class="contact-list">
      <li><a href="#">Midan - Damascus - Syria</a></li>
      <li><a href="#">BaraaBaghdadi1999@gmail.com</a></li>
      <li><a href="#">+963 993 997 549</a></li>
      <li><a href="#">+963 932 912 812</a></li>
    </div>
    <div class="contact-icons">
      <a href="https://www.linkedin.com/in/mhd-baraa-al-bagdadi-645666237"><i class='bx bxl-linkedin'></i></a>
      <a href="https://www.facebook.com/MhdBaraaAlBaghdadi.ba"><i class='bx bxl-facebook'></i></a>
      <a href="#"><i class='bx bxl-instagram'></i></a>
      <a href="#"><i class='bx bxl-dribbble'></i></a>
    </div>
  </div>

  <div class="contact-form">
    <form action="">
      <input type="" placeholder="Enter Your Name" required>
      <input type="email" placeholder="Enter Your Email" required>
      <input type="" placeholder="Enter Your Subject">
      <textarea name="" id="" cols="40" rows="10" placeholder="Enter Your Message" required></textarea>
      <input type="submit" value="Submit" class="send">
    </form>
  </div>
</section>

<div class="last-text">
  <p>Developed  by Mhd Baraa Al Baghdadi © 2022</p>
</div>

<!---scroll-top--->
<a href="#" class="top"><i class='bx bx-up-arrow-alt'></i></a>
