.contact{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
  margin-top: 200px;
}
.contact-text{
  width: 85%;
  margin-left: 100px;
}
.contact-text h4{
	margin-left: 10px;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
}
.contact-text h2{
	font-size: var(--h2-font);
}
.contact-text p{
  margin-left: 10px;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
}
.contact-list{
  margin-left: 10px;
	margin-bottom: 3rem;
}
.contact-list li{
	margin-bottom: 10px;
	display: block;
}
.contact-list li a{
	display: block;
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	transition: all .40s ease;
}
.contact-list li a:hover{
	transform: scale(1.01) translateY(-5px);
	color: var(--main-color);
}
.contact-icons i{
	margin-left: 10px;
  height: 40px;
	width: 40px;
	background: #12141c;
	border-radius: 0.5rem;
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}
.contact-icons i:hover{
	transform: scale(1.01) translateY(-5px);
	color: var(--text-color);
	background: var(--main-color);
}

.contact-form form{
	position: relative;
  width: 85%;
}
.contact-form form input,
form textarea{
	border: none;
	outline: none;
	width: 100%;
	padding: 18px;
	background: #12141c;
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}
.contact-form textarea{
	resize: none;
	height: 220px;
}
.contact-form form .send{
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
	background: var(--main-color);
	color: var(--text-color);
	width: 190px;
	transition: all .40s ease;
	cursor: pointer;
}

.last-text p{
	text-align: center;
	padding: 15px;
	color: var(--second-color);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
}
.top{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
}
.top i{
	color: var(--text-color);
	background: var(--main-color);
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}


/* Media Query */
@media (max-width: 1325px){
	section{
		padding: 130px 3% 60px;
	}
}

@media (max-width: 970px){
	section{
		padding: 70px 3% 60px;
	}
	.home{
		height: 85vh;
	}
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
	}
	.contact{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 830px){
  .contact{
    margin-top: 10px;
  }
  .contact-form form{
    position: relative;
    width: 100%;
  }
  .contact-text{
    width: 100%;
    margin-left: 0px;
  }
  .contact-text h2{
    font-size: 30px;
    margin-left: 8px;
  }
  .top{
    right: 0.5rem;
  }
  .last-text p{
    position: relative;
    bottom: 37px;
  }
  .contact-form form .send{
    display: block;
    text-align: center;
    margin: 0 auto;
  }

}
