<div id="Experiences">
  <div class="main-text">
    <h2>My Experiences</h2>
  </div>
  <div class="allExp">
    <div data-aos="flip-down" data-aos-duration="1500" class="container">
      <div class="content">
        <h1>Data Analyst</h1>
        <h3>I worked as a Data analyst in Syriatel Mobile Telecom for a year From 01/06/2022 To 01/06/2023. <br>
          This position focuses on using :</h3>
        <div style="display: flex;flex-wrap:wrap;gap:30px;">
          <ol>
            <li>Oracle</li>
            <li>Plsql</li>
            <li>Angular</li>
          </ol>
          <ol>
            <li>.Net Core</li>
            <li>Excel</li>
            <li>Power Bi</li>
          </ol>
        </div>
      </div>
      <div class="flap"></div>
    </div>
    <div data-aos="flip-down" data-aos-duration="1500" class="container">
      <div class="content">
        <h1>IT Support</h1>
        <h3>I worked as a IT Support in Concord Factory for a year From 25/05/2018 To 06/06/2019. <br>
          </h3>
      </div>
      <div class="flap flap2"></div>
    </div>
    <div data-aos="flip-down" data-aos-duration="1500" class="container">
      <div class="content">
        <h1>FrontEnd Trainer</h1>
        <h3>I worked as a Trainer for a two year From 01/01/2022 To 01/06/2023. <br>
          This position focuses on teaching :</h3>
        <div style="display: flex;flex-wrap:wrap;gap:0px;">
          <ol>
            <li>HTML</li>
            <li>CSS</li>
            <li>BootStrap</li>
          </ol>
          <ol>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>Angular Material</li>
          </ol>
        </div>
      </div>
      <div class="flap flap3"></div>
    </div>
  </div>

</div>
