<div class="loading" *ngIf="loader">
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<app-header></app-header>
<app-home></app-home>
<app-about-me></app-about-me>
<app-my-srvices></app-my-srvices>
<app-my-portfolio data-aos="zoom-out" data-aos-duration="3000"></app-my-portfolio>
<div style="position: relative;">
  <app-experiance></app-experiance>
</div>
<app-certificates></app-certificates>
<app-contact-me></app-contact-me>
