<div class="allDialog">
  <h1 mat-dialog-title style="color: var(--main-color);font-weight: 600;">{{data.title}}</h1>
  <div mat-dialog-content>
    <img src={{data.img}} alt="Error" style="display: block; text-align: center; margin: 0 auto ;">
  </div>
  <div class="close" mat-dialog-actions>
    <span mat-dialog-close mat-dialog-actions class="material-symbols-outlined">
      close
    </span>
  </div>
</div>
<div style="margin-top: 20px ;" *ngIf="data.title=='CRUD Using Angular14 and ASP.Net Core and SQL Server .'">
  <div>
    <p style="font-weight: bold;color: var(--main-color);font-weight: 600;">This Project includes:</p>
    <div style="font-weight: bold;">
      <p>1-Create database in sql Server.</p>
      <p>2-Create table in sql server and build query.</p>
      <p>3-Build query in .Net Core Framwork as required in FE.</p>
      <p>4-Create and Read and update and Delete data in Database.</p>
      <p>5-Upload image in FE and store in Folder in server.</p>
      <p>6-Recovery image from BackEnd when select employee.</p>
      <p>7-Searsh in Table</p>
      <p>8-This website use Angular Material and BootStrap.</p>
    </div>
  </div>
</div>

<div style="margin-top: 20px ;" *ngIf="data.title=='Register with Authentication and Authorization.'">
  <div>
    <p style="font-weight: bold;color: var(--main-color);font-weight: 600;">This Project includes:</p>
    <div style="font-weight: bold;">
      <p>1-Create database in sql Server.</p>
      <p>2-Create table in sql server and build query.</p>
      <p>3-Register in website and save data in database.</p>
      <p>4-Login in website by check username and password in Database.</p>
      <p>5-Use JWT and refresh token for login.</p>
      <p>6-If user role is Admin will see data for all user.</p>
      <p>7-If user role is User will see his data just.</p>
      <p>8-Use interceptor and Guard for protect url.</p>
      <p>9-This website use .Net Core and Angular 14 and Angular Material and BootStrap.</p>
    </div>
  </div>
</div>

<div style="margin-top: 20px ;" *ngIf="data.title=='Smart Coash Website with Computer Vision and Neural Networks.'">
  <div>
    <p style="font-weight: bold;color: var(--main-color);font-weight: 600;">This Project includes:</p>
    <div style="font-weight: bold;">
      <p>1-PHP and Laravel and MySql and Neural Networks and Computer Vision...</p>
      <p>2-Create tables in MySql and build query.</p>
      <p>3-Register in website and save data in database.</p>
      <p>4-Login in website by check username and password in Database.</p>
      <p>5-Use JWT and refresh token for login.</p>
      <p>6-Play aerobics on the laptop camera</p>
      <p>7-Camera will decide if the exercise is true or false</p>
      <p>8-After the end of the exercise the data will be stored in Database.</p>
      <p>9-Admin Can make new exercise for players.</p>
    </div>
  </div>
</div>

<div style="margin-top: 20px ;" *ngIf="data.title=='Employee Dashboard.'">
  <div>
    <p style="font-weight: bold;color: var(--main-color);font-weight: 600;">This Project includes:</p>
    <div style="font-weight: bold;">
      <p>1-Use Angular 14 and API and ChartJS and Angular Material </p>
      <p>2-Get Data And Store Data in Api.</p>
      <p>3-Show data in Tables and Charts.</p>
      <p>4-Add,Delete,update and Show data of Employee.</p>
      <p>5-Search in tables.</p>
      <p>6-Check if employee is exist in Api or not.</p>
      <p>7-Use Dialog and popUp and others from Angular Material</p>
    </div>
  </div>
</div>

<div style="margin-top: 20px ;" *ngIf="data.title=='Food Website.'">
  <div>
    <p style="font-weight: bold;color: var(--main-color);font-weight: 600;">This Project includes:</p>
    <div style="font-weight: bold;">
      <p>1-Use HTML and CSS and JavaScript and BootStrap.</p>
      <p>2-Presentation of a range of foods and meals.</p>
      <p>3-Use Animations in Css.</p>
      <p>4-It responds to different types of screens.</p>
      <p>5-Create a beautifully designed Dropdown pst.</p>
      <p>6-Use Grid and display Flex in Css.</p>
    </div>
  </div>
</div>

<div style="margin-top: 20px ;" *ngIf="data.title=='Quiz Application with Dashboard.'">
  <div>
    <p style="font-weight: bold;color: var(--main-color);font-weight: 600;">This Project includes:</p>
    <div style="font-weight: bold;">
      <p>1-Create database in sql Server.</p>
      <p>2-Create table in sql server and build query.</p>
      <p>3-Register in website and save data in database.</p>
      <p>4-Login in website by check username and password in Database.</p>
      <p>5-Use JWT for login as admin.</p>
      <p>6-Use entity framework.</p>
      <p>7-Use Rxjs and ChartJs.</p>
      <p>8-Use interceptor and Guard for protect url.</p>
      <p>9-This website use .Net Core and Angular 14 and Angular Material and BootStrap.</p>
    </div>
  </div>
</div>
