@media (max-width: 830px){
 ::ng-deep .mat-dialog-container{
    height: 50% !important;
    margin-top: 30% !important;
  }
  h1{
    font-size: 10px;
  }
  img{
    width: 97% !important;
    height: 154px !important;
  }
}
img{
  width : 100% ;
}
.allDialog{
  position: relative;
}
.close{
  position: absolute;
  top: -25px;
  right: -15px;
}


